
@{
    ViewBag.Title = "Home";
}


@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">*@

<style>
    .fakeimg1 {
        height: 200px; 
        width: 500px;
    }
    .fakeimg2 {
        height: 200px;
    }
    .fakeimg3 {
        height: 200px;
        width:500px;
    }
    .fakeimg4 {
        height: 200px;
    }
    </style>
<br>
<br>
<br>
<br>

<body>
    <div class="container" style="margin-top:30px">
            <h1>Beauty isn’t measured in weight!!</h1>
        <hr>
        <div class="row">
            <div class="col-sm-5">
                <h3>UnderWeight</h3>
                
                <div class="fakeimg1">

                    <img src="~/images/img1.jfif" />
                </div>
                <p>
                    Being underweight can represent as many health concerns to an individual as being overweight can. If a person is underweight, their body may not be getting the nutrients it needs to build healthy bones, skin, and hair
                </p>
                <p>
                    While some people may have a genetic background or a medical illness that prevents them from putting on weight, there are interventions doctors can recommend to help a person gain weight.
                </p>

                <hr class="d-sm-none">
            </div>
            <div class="col-sm-5">
                <h3>Normal</h3>
                
                <div class="fakeimg2">
                    <img src="~/images/img2.jfif" />
                </div>
                <p>
                    A healthy weight is a weight that lowers your risk for health problems. For most people, body mass index (BMI) and waist size are good ways to tell if they are at a healthy weight.
                </p>

                <p> But reaching a healthy weight isn't just about reaching a certain number on the scale or a certain BMI. Having healthy eating and exercise habits is very important.</p>

                <p>
                    If you want to get to a healthy weight and stay there, healthy lifestyle changes will work better than dieting. Reaching a certain number on the scale is not as important as having a healthy lifestyle.
                </p>
                <br>

            </div>
            <div class="col-sm-5">
                <h3>OverWeight</h3>
                
                <div class="fakeimg3">
                    <img src="~/images/img3.jfif" />
                </div>
                <p>Everybody needs a certain amount of body fat to function and perform optimally, and the consensus is that the greater the disparity between the two, the more at risk a person’s health is.</p>
                <p>Being overweight or obese greatly increases the chances for one or more of a long list of serious health problems, including heart disease, stroke, type 2 diabetes, osteoarthritis and some cancers – breast and colon cancer among them.</p>
                <br>

            </div>
            <div class="col-sm-5">
                <h3>Obese</h3>
             
                <div class="fakeimg4">
                    <img src="~/images/img4.jfif" />
                </div>
                <p>Obesity has become an epidemic and an important public health concern. Because the problem is multidimensional, the solution will require an interdisciplinary approach involving the cooperation of the food industry with other stakeholders, such as the government, academia, and health care providers.</p>
                <p>The consumer is an important player in the solution to obesity because the consumer can make healthy lifestyle choices at the individual level. The food industry is committed to providing the consumer with healthy food options and reliable nutrition information..</p>
                <br>

            </div>
        </div>
    </div>
</body>
